*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    margin: 20px 0px 0px 20px;
}

main{
    width: 250px;
    margin: 20px 0px 0px 20px;
    padding: 15px;
    background-color: rgba(127, 255, 212, 0.301);
    border: 1px solid black;
    border-radius: 5px;

}


#converter{
    margin-bottom: 10px;
}

#ibinario{
    width: 172px;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#caixa-resultado{
    width: 172px;
    height: 50px;
    padding-left: 10px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.493);
    border-radius: 2px;
}

#texto-resultado{
    margin-bottom: 10px;
}

#resultado{
    color: rgba(128, 128, 128, 0.979);
    padding-left: 20px;
    margin-top: 15px;
}

.erro{
    font-size: 0.7em;
    color: red !important;
}